@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=WindSong:wght@400;500&display=swap");

:root {
  --color-primary: #e0c184;
  --color-primary-light: #dfcdab;
  --color-secondary: #9b755b;
  --color-black: #5d5d5d;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 40%;
  font-family: "Onest", sans-serif;
  scroll-behavior: smooth;
}
.container {
  padding: 0px 15px;
}
.h-container {
  height: 88%;
}

.h-100 {
  height: 100%;
}

.g-10 {
  row-gap: 10rem;
}

.img-fluid {
  width: 100%;
  height: auto;
  display: block;
}
.col-after::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--color-secondary);
  display: block;
}

/* ----- TYPOGRAPHY ----- */

P {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: normal;
  color: var(--color-black);
}

.text-white {
  color: white;
}

.text-primary {
  color: var(--color-primary);
}

.text-hero {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 2rem;
}

.text-hero::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #e0c184;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}

.text-services {
  color: var(--color-black);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: left;
  display: flex;
  align-items: center;
}

.text-services::before {
  display: inline-block;
  margin-right: 15px;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: var(--color-secondary);
}

.text-user {
  font-weight: 800;
  font-size: 20px;
  color: var(--color-secondary);
  text-transform: uppercase;
}

.text-user-testimonial {
  font-style: italic;
}

h1 {
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

h1 span {
  font-size: 3rem;
  font-weight: 300;
  display: block;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  font-family: "Montserrat", sans-serif;

  color: var(--color-secondary);
}

h3 {
  font-size: 3rem;
  letter-spacing: 4px;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: var(--color-secondary);
}

h4 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Onest", sans-serif;
  color: var(--color-secondary);
}

.h4-absolute {
  position: absolute;
  top: -2rem;
  left: 4rem;
  background-color: var(--color-secondary);
  padding: 1rem;
  color: var(--color-primary);
}
/* ----- TYPOGRAPHY END ----- */

/* ----- BUTTONS ----- */

button {
  border: none;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  transition: 200ms;
}

.btn-services {
  padding: 1.4rem 2rem;
  background-color: var(--color-secondary);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-primary);
  letter-spacing: 3px;
  border-radius: 5px;
}

.btn-schedule {
  padding: 1.4rem 2rem;
  background-color: var(--color-primary);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-secondary);
  letter-spacing: 3px;
  border-radius: 5px;
}

.btn-order {
  background-color: var(--color-secondary);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  padding: 1rem 2rem;
  transition: 200ms;
}

.btn-order-focus {
  background-color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-secondary);
  padding: 1rem 2rem;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero-btn-box {
  display: flex;
  gap: 4rem;
}
/* ----- BUTTONS END ----- */

/* ----- HEADER ----- */

header {
  height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
}

/* NAVBAR HEADER */

.nav-header {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(15px);
  height: 12%;
}

.logo-header {
  width: 7rem;
  height: auto;
}

.nav-header-list-expand {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  display: none;
}

.nav-header-list-expand .nav-header-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 300ms ease-in;
}

.nav-header-link:hover {
  color: white;
}

.nav-header-list-small {
  padding: 15rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-secondary);
  display: none;
  list-style-type: none;
}

.nav-header-list-small .wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav-header-list-small .nav-header-link {
  text-decoration: none;
  font-size: 3rem;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 500;
}

.icon-exit {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
}

.logo-menu-small {
  position: absolute;
  width: 100px;
  height: auto;
  bottom: 50px;
}

.icon-nav-menu {
  width: 4rem;
  height: auto;
}

.empty {
  display: none;
}

.quick-contact {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.096);
  backdrop-filter: blur(20px);
  padding: 16px;
  border-radius: 5px;
}

.icon-quick-contact {
  width: 3rem;
  height: auto;
}

.text-quick-contact {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2rem;
  color: var(--color-primary);
}

/* ----- HEADER END ----- */

/* ----- SECTION SERVICES ----- */

.section-services {
  padding-top: 10rem;
  background-color: white;
}

.icon-section {
  width: 80px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* BOX SERVICE */

.box-service {
  background-color: var(--color-primary-light);
  width: 100%;
  height: 100%;
  position: relative;
  padding: 6rem 5rem 5rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

/* ----- SECTION SERVICES END ----- */

/* ----- SECTION PLANS ----- */

.section-plans {
  padding: 10rem 0rem;
}

/* CARD PLAN */

.card-plan {
  background-color: var(--color-primary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-radius: 3px;
}

.card-focus {
  transform: scale(1.2);
  background-color: var(--color-secondary);
}

.text-card-plan-price {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: var(--color-secondary);
}

.text-card-plan-price-focus {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: var(--color-primary);
}

.text-card-plan-price span {
  font-weight: 600;
  font-size: 2rem;
}

.text-card-plan-price-focus span {
  font-weight: 600;
  font-size: 2rem;
}

.icon-card-plan {
  width: 70px;
  height: auto;
}

.text-card-plan {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.text-card-plan-feature {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.before-full::before {
  content: "";
  display: inline-block;
  background-color: var(--color-secondary);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 10px;
}

.before-empty::before {
  content: "";
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 10px;
}

.before-full-focus::before {
  content: "";
  display: inline-block;
  background-color: var(--color-primary);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 10px;
}

.before-empty-focus::before {
  content: "";
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 10px;
}

/* CARD PLAN END */

/* ----- SECTION PLANS END ----- */

/* ----- SECTION TESTIMONIALS ----- */

.section-testimonials {
  padding: 10rem 0;
  background-color: var(--color-primary-light);
}

.icon-section-white {
  width: 90px;
  background-color: white;
  border: 4px solid var(--color-secondary);
  border-radius: 50%;
  padding: 1rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.card-testimonial {
  width: 90%;
  height: 100%;
  padding: 3rem;
  background-color: var(--color-primary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon-card-testimonial {
  width: 60px;
  height: auto;
}

/* ----- SECTION TESTIMONIALS END ----- */

/* ----- SECTION CONTACT ----- */

.section-contact {
  padding: 10rem 0;
}

.card-contact {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.icon-card-contact {
  width: 6rem;
  height: auto;
}

.text-card-contact {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-secondary);
  font-family: "Montserrat", sans-serif;
}
/* ----- SECTION CONTACT  END----- */

/* ----- SECTION PRICES ----- */

.section-prices {
  padding: 10rem 0;
  background-color: var(--color-primary-light);
}

.list-prices {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-secondary);
}

.list-prices-item {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  font-family: "Montserrat";
}

.box-prices-title {
  position: relative;
  width: 100%;
  height: 100%;
}

.title-prices-service {
  font-size: 3rem;
  letter-spacing: 10px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Onest", sans-serif;
  border-bottom: 1px solid var(--color-black);
  text-align: center;
  color: var(--color-black);
}

.title-prices-service span {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-right: 15px;
}

.subtitle-prices-service {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-secondary);
}

.box-table-prices {
  width: 100%;
}

.table-prices {
  width: 100%;
}

.table-prices-text-details {
  font-size: 13px;
  font-size: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 20px;
}

.table-prices th {
  text-align: start;
}

.table-prices td {
  color: var(--color-black);
}

.table-prices tr {
  width: 100%;
  text-align: start;
  font-size: 16px;
  font-family: "Onest";
}

/* ----- SECTION PRICES END ----- */

/* ----- FOOTER ----- */

footer {
  padding: 5rem 1rem;
  background-color: var(--color-secondary);
}

.icon-logo-footer {
  width: 14rem;
  height: auto;
}

.nav-list-footer {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.nav-list-footer-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-primary);
}

blockquote {
  font-size: 14px;
  color: var(--color-primary-light);
  text-align: center;
}
/* ----- FOOTER END ----- */

@media screen and (min-width: 768px) {
  .nav-list-footer {
    flex-direction: row;
    gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 55%;
  }
  .nav-header-list-expand {
    display: flex;
  }
  .empty {
    display: block;
  }

  .box-table-prices {
    width: 80%;
  }

  .icon-nav-menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
  .nav-list-footer-link {
    font-size: 2rem;
  }

  .box-table-prices {
    width: 60%;
  }
}
